<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
    <test name="Positive Tests">
        <groups>
            <run>
                <include name="Positive"/>
            </run>
        </groups>
        <classes>
            <class name="Tests.Tests"/>
        </classes>
    </test>
    <test name="Negative Tests">
        <groups>
            <run>
                <include name="Negative"/>
            </run>
        </groups>
        <classes>
            <class name="Tests.Tests"/>
        </classes>
    </test>
</suite>
